*
{
	margin:0px;
	padding:0px;
}
.wrapper
{
	width:960px;
	height: 100%;
	margin:0px auto;
	/*background-color: red;*/
}
.text-center
	
{
	text-align: center;
}
label h4
{color:#e3bda0;}

form input
{
	width: 200px;
	height: 30px;
}